<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		main#content
			.wrapper
				.parser
					.parser__search
						form(action="#")
							.ps
								.ps__selects
									.form__inputs.form__inputs--7
										each select, i in ["Производитель", "Ширина", "Профиль", "Диаметр", "Индекс скорости", "Индекс нагрузки", "Город", ]
											.form__inputs-input
												.default-input
													if (i == 0)
														select.default-input__input.default-input__input--select(multiple="")
															option(value="0")=select
															option(value="1")=select
															option(value="2")=select
															option(value="3")=select
															option(value="4")=select
													else
														select.default-input__input.default-input__input--select
															option(value="0")=select
															option(value="1")=select
															option(value="2")=select
															option(value="3")=select
															option(value="4")=select
								.ps__search
									.ps__search-search
										.search-input
											input.search-input__input(type="text" placeholder="Поиск...")
											//- input.search-input__submit(type="submit")
									.ps__search-btns
										input.default-btn(type="submit" value="Пирменить")
										input.default-btn.default-btn--bordered(type="submit" value="Сбросить")
					.parser__settings
						.parser-settings
							.parser-settings__tabs
								a.default-btn.active(href="#") Применить 1 правило
								each title in ["Применить 2 правило", "Применить 3 правило", "Применить 4 правило", ] 
									a.default-btn(href="#")=title
							.parser-settings__config
								.p-config
									.p-config__btns
										a.white-btn(href="#") Выбрать все
										a.white-btn(href="#") Отменить выбор
									.p-config__checkboxes
										.config-checkboxes
											.config-checkboxes__item
												.checkbox
													input.checkbox__input(type="checkbox" checked="" id="che-0")
													label.checkbox__label(for="che-0") 
														span.checkbox__label-text Избранное
											each checkbox, i in ["Шин. инв", "С предложениями по 1 правилу", "С предложениями по 2 правилу", "С предложениями по 3 правилу", "С предложениями по 4 правилу", ]
												.config-checkboxes__item
													.checkbox
														input.checkbox__input(type="checkbox" id="che-"+(i + 1))
														label.checkbox__label(for="che-"+(i + 1))
															span.checkbox__label-text=checkbox
					.parser__table
						.parser__table-counter Выбрано строк:  
							span  0
						.parser__table-table
							table.p-table
								thead
									tr 
										each item in ["Параметры", "Колеса даром", "74 колеса", "Цефей", "Шина4машина", "Рулевой РФ", "Со колесо", "Альянс", "КовентПро", "Добрая шина", "Четыре точки", "Шининвест", "Действия", ]
											if (item == "Шининвест")
												th.highlighted-column=item
											else
												th=item
								tbody
									tr
										td.t-parametrs
											.t-parametrs__checkbox
												.checkbox
													input.checkbox__input(type="checkbox" checked="")
													label.checkbox__label 
														span.checkbox__label-text 41943 
															br
															| Bridgestone Blizzak Revo GZ (205/65/16/S/95) зима 2020-02-21T06:22:17+03:00
										td
											.t-result
												.t-result__price.t-result__price--only 5940 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 6990 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 6990 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 9849 р.
										td.highlighted-column.bordered-td.bordered-td--blue
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.t-actions
											.t-actions__content 
												.t-actions__content-item
													a.circle-button.circle-button--green(href="#")
														figure.circle-button__icon
															include ../img/ico-update.svg
												.t-actions__content-item
													a.circle-button(href="#")
														figure.circle-button__icon
															include ../img/ico-star.svg
									tr.highlighted-row
										td.t-parametrs
											.t-parametrs__checkbox
												.checkbox
													input.checkbox__input(type="checkbox")
													label.checkbox__label 
														span.checkbox__label-text 41943 
															br
															| Bridgestone Blizzak Revo GZ (205/65/16/S/95) зима 2020-02-21T06:22:17+03:00
															br
															br
															a.circle-button.circle-button--green(href="#")
																figure.circle-button__icon
																	include ../img/ico-rub.svg
															a.circle-button(href="#")
																figure.circle-button__icon
																	include ../img/ico-bell.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price 5940 р.
												.t-result__count 10 шт.
												.t-result__deliv доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.bordered-td.bordered-td--green
											.t-result
												.t-result__price 4990 р.
												.t-result__count 6 шт.
												.t-result__deliv.invisible доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button.invisible
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.bordered-td.bordered-td--red
											.t-result
												.t-result__price 4990 р.
												.t-result__count 6 шт.
												.t-result__deliv.invisible доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button.invisible
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td.highlighted-column.bordered-td.bordered-td--blue
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.t-actions
											.t-actions__content 
												.t-actions__content-item
													a.circle-button.circle-button--green(href="#")
														figure.circle-button__icon
															include ../img/ico-update.svg
												.t-actions__content-item
													a.circle-button(href="#")
														figure.circle-button__icon
															include ../img/ico-star.svg
									tr
										td.t-parametrs
											.t-parametrs__checkbox
												.checkbox
													input.checkbox__input(type="checkbox")
													label.checkbox__label 
														span.checkbox__label-text 41943 
															br
															| Bridgestone Blizzak Revo GZ (205/65/16/S/95) зима 2020-02-21T06:22:17+03:00
										td
											.t-result
												.t-result__price.t-result__price--only 5940 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 6990 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 6990 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 9849 р.
										td.highlighted-column.bordered-td.bordered-td--blue
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.t-actions
											.t-actions__content 
												.t-actions__content-item
													a.circle-button.circle-button--green(href="#")
														figure.circle-button__icon
															include ../img/ico-update.svg
												.t-actions__content-item
													a.circle-button(href="#")
														figure.circle-button__icon
															include ../img/ico-star.svg
									tr
										td.t-parametrs
											.t-parametrs__checkbox
												.checkbox
													input.checkbox__input(type="checkbox")
													label.checkbox__label 
														span.checkbox__label-text 41943 
															br
															| Bridgestone Blizzak Revo GZ (205/65/16/S/95) зима 2020-02-21T06:22:17+03:00
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 9400 р.
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price.t-result__price--only 2990 р.
										td.highlighted-column.bordered-td.bordered-td--blue
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.t-actions
											.t-actions__content 
												.t-actions__content-item
													a.circle-button.circle-button--green(href="#")
														figure.circle-button__icon
															include ../img/ico-update.svg
												.t-actions__content-item
													a.circle-button(href="#")
														figure.circle-button__icon
															include ../img/ico-star.svg
									tr.highlighted-row
										td.t-parametrs
											.t-parametrs__checkbox
												.checkbox
													input.checkbox__input(type="checkbox")
													label.checkbox__label 
														span.checkbox__label-text 41943 
															br
															| Bridgestone Blizzak Revo GZ (205/65/16/S/95) зима 2020-02-21T06:22:17+03:00
															br
															br
															a.circle-button.circle-button--green(href="#")
																figure.circle-button__icon
																	include ../img/ico-rub.svg
															a.circle-button(href="#")
																figure.circle-button__icon
																	include ../img/ico-bell.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-result
												.t-result__price 5940 р.
												.t-result__count 10 шт.
												.t-result__deliv доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.bordered-td.bordered-td--green
											.t-result
												.t-result__price 4990 р.
												.t-result__count 6 шт.
												.t-result__deliv.invisible доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button.invisible
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.bordered-td.bordered-td--red
											.t-result
												.t-result__price 4990 р.
												.t-result__count 6 шт.
												.t-result__deliv.invisible доставка: больше 8
												.t-result__time 21.02 12:32
												.t-result__button.invisible
													a.default-btn(href="#") КПР
												a.t-result__remove.ico-remove(href="#")
										td.highlighted-column.bordered-td.bordered-td--blue
											.t-plus
												a.t-plus__link(href="#")
													include ../img/ico-plus.svg
										td.t-actions
											.t-actions__content 
												.t-actions__content-item
													a.circle-button.circle-button--green(href="#")
														figure.circle-button__icon
															include ../img/ico-update.svg
												.t-actions__content-item
													a.circle-button(href="#")
														figure.circle-button__icon
															include ../img/ico-star.svg
		include inc/scripts.pug